h1 {
    color: #191b1e;
    text-shadow: 1px 1px 0 #00ffd9,
        -1px -1px 0 #00ff6e;

}

h3 {
    color: #00ff6e;
}

#link {
    color: #00ffd9;
    padding-top: 10px;

}

a {
    border-radius: 20px;
    padding: 5px;
    color: #000000;
    background-color: #00ff6e;
    font-weight: bold;
    text-decoration: none;
}

body {
    background: #191b1e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #00ffd9;
    
}