body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.pc-inactive {
    display: none;
}

.pc-rock {
    display: none;
}
.pc-paper {
    display: none;
}
.pc-scissors {
    display: none;
}

.result-win {
    display: none;
}

.result-loss {
    display: none;
}

.result-tie {
    display: none;
}